<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  
  
  .jumbotron{
    
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "main/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  
  <div class="container text-center">
    <h1 class="display-1 text-info">Scholar's Studio</h1>
    <p class="display-4 d-none d-sm-block">Test your skills and become a Scholar.</p>
    <p class="lead">Teachers can create their own tests!</p>

    

    <p class="lead">What are you waiting for? SignUp Now for more exciting tests!</p>
    <p><strong> Create an account:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-primary" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "main/footer.html" %}


</body>

</html>
